/* app css stylesheet */

body {
  padding-top: 20px;
  font-family: Arial;
}

ul{
	list-style: none;
}
.wrapper{
	width: 400px;
	margin: 0 auto;
}
.block{
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
	padding: 14px 20px 20px;
	font-size: 16px;
	margin-bottom: 30px;
}
a.del{
	text-decoration: none;
	color: red;
	float: right;
	margin: 4px 10px 0 0;
	cursor: pointer;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
h2{
	display: block;
	font-size: 24px;
	margin: 0 0 16px;
	font-weight: bold;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0 0 6px 10px;
}
h3{
	margin: 10px 0 10px 0;
}
.item_holder{
	padding: 0 16px;
}
.item h3, .item span{
	width: 100%;
	display: block;
}
.item_head, .item_info{
	display: block;
	font-size: 22px;
	line-height: 22px;
	margin: 0 0 6px;
	border: none;
	height: auto;
}
.item_info{
	font-style: 16px;
}
.item{
	padding: 0 0 20px 20px;
	border-radius: 4px;
	cursor: pointer;
	overflow: hidden;
}
.item:hover, .item:active{
	background: rgba(0, 0, 0, 0.1);
}
input[type="text"]{
	display: block;
	padding: 0 10px;
	height: 26px;
	font-size: 14px;
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.3);
	margin: 20px 0 10px 20px;
	border-radius: 4px;
}
input[type="text"]:focus{
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
input[type="submit"]{
	display: block;
	margin: 20px;
}
.block h2 + div{
	min-height: 50px;
}