<!doctype html>
<html lang="en" ng-app="testApp">
<head>
  <meta charset="utf-8">
  <title>To-do list</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
  <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
</head>
<body ng-controller="testAppCtlr as todoList">
  <div class="wrapper">
    <div class="block">
      <h2>To-do</h2>
      <div class="item_holder">
        <div class="item" ng-repeat="item in todoList.todos">
          <a class="del" ng-click="todoList.deleteItem($index, todoList.todos)">x</a>
          <h3 editable-text="item.title" buttons="no">{{item.title}}</h3>
          <div editable-text="item.info" buttons="no">{{item.info}}</div>
        </div>
      </div>
    </div>
    <div class="block">
      <h2>In process</h2>
      <div class="item_holder">
        <div class="item" ng-repeat="item in todoList.process">
          <a class="del" ng-click="todoList.deleteItem($index, todoList.process)">x</a>
          <h3 editable-text="item.title" buttons="no">{{item.title}}</h3>
          <div editable-text="item.info" buttons="no">{{item.info}}</div>
        </div>
      </div>
    </div>
    <div class="block">
      <h2>Done</h2>
      <div class="item_holder">
        <div class="item" ng-repeat="item in todoList.done">
          <a class="del" ng-click="todoList.deleteItem($index, todoList.done)">x</a>
          <h3 editable-text="item.title" buttons="no">{{item.title}}</h3>
          <div editable-text="item.info" buttons="no">{{item.info}}</div>
        </div>
      </div>
    </div>
    <div class="block">
      <h2>Add new</h2>
      <form ng-submit="todoList.addTodo()">
        <input type="text" placeholder="Name" ng-model="todoList.todoTitle">
        <input type="text" placeholder="Text" ng-model="todoList.todoInfo">
        <input type="submit" value="Ok">
      </form>
    </div>
  </div>
</body>
</html>
